.student-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.student-tutor-container {
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}
.student-tutor-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.student-tutors-heading {
  width: 100%;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.student-loading-message {
  text-align: center;
  color: black;
}

.tutor-no-matches-message{
  text-align: center;
  color: black;
  font-size: 18px;
  margin-top: 20px;
}