
.tutor-card-home {
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
  }
  
  .tutor-header-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .tutor-name-home {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  
  .tutor-location-home {
    color: #666;
    font-size: 1rem;
  }
  
  .tutor-details-home {
    margin-bottom: 10px;
  }
  
  .tutor-actions {
    display: flex;
    justify-content: space-evenly;

  }
  .tutor-actions Button {
    padding: 4px 6px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 4px;
  }
  .view-details-btn:hover {
    background-color: #0056b3;
  }
  